---
Checks: "*,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvm-include-order,
  -llvm-header-guard,
  -google-runtime-int,
  -fuchsia-*,
  -cppcoreguidelines-init-variables,
  -readability-convert-member-functions-to-static,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cert-err58-cpp,
  -modernize-use-trailing-return-type,
  -hicpp-braces-around-statements,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -hicpp-signed-bitwise,
  -altera-unroll-loops,
  -readability-make-member-function-const,
  -bugprone-easily-swappable-parameters"
...
